# Python cache
__pycache__/
*.pyc
*.pyo

# Venvs
venv/
.venv/

# Git
.git/
.gitignore

# Secrets
.env

# Local runtime files
*.sqlite3
media/
static/
staticfiles/
postgres/pgdata/

# Frontend build artifacts
frontend/node_modules/
frontend/dist/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
