# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
venv/
.venv/

# Env files
.env

# Django runtime files
*.sqlite3
/static/
/staticfiles/
/media/

# Postgres local data
postgres/pgdata/

# Frontend
frontend/node_modules/
frontend/dist/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
